.lightUpPoint1 {
  height: 15px;
  width: 20px;
  position: absolute;
  background-color: #e7e7e7;
  box-shadow: inset 0 0 3px #818181;
  border-radius: 10px; }

.point1-1 {
  left: 225px;
  top: 390px; }
  .point1-1 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-1_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 0s; }
  .point1-1_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 0s; }

.point1-1 {
  left: 177.5px;
  top: 390px; }
  .point1-1 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-1_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 0.5s; }
  .point1-1_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 0.5s; }

.point1-2 {
  left: 130px;
  top: 390px; }
  .point1-2 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-2_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 1s; }
  .point1-2_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 1s; }

.point1-3 {
  left: 100px;
  top: 350px;
  transform: rotate(90deg); }
  .point1-3 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-3_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 1.5s; }
  .point1-3_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 1.5s; }

.point1-4 {
  left: 100px;
  top: 302.5px;
  transform: rotate(90deg); }
  .point1-4 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-4_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 2s; }
  .point1-4_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 2s; }

.point1-5 {
  left: 100px;
  top: 255px;
  transform: rotate(90deg); }
  .point1-5 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-5_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 2.5s; }
  .point1-5_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 2.5s; }

.point1-6 {
  left: 100px;
  top: 207.5px;
  transform: rotate(90deg); }
  .point1-6 .shadowBox {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0); }

.point1-6_animated {
  animation: 3s ease-out infinite lightUpDot;
  animation-delay: 3s; }
  .point1-6_animated .shadowBox {
    animation: 3s ease-out infinite lightUpDotShadow;
    animation-delay: 3s; }

.dottedLine1 {
  height: 222px;
  width: 108px;
  position: absolute;
  bottom: 80px;
  left: 109px;
  border-bottom: 3px dashed rgba(72, 193, 187, 0.664);
  border-left: 3px dashed rgba(72, 193, 187, 0.664);
  border-bottom-left-radius: 10px;
  z-index: 0; }

@keyframes lightUpDot {
  0% {
    background-color: #e7e7e7; }
  10% {
    background-color: #28e7e1; }
  50% {
    background-color: #e7e7e7; } }

@keyframes lightUpDotShadow {
  0% {
    box-shadow: none; }
  10% {
    box-shadow: 0 0 3px white, 0 0 6px #28e7e1, 0 0 8px #28e7e1; }
  50% {
    box-shadow: none; } }
