* {
  box-sizing: border-box; }

.segment {
  object-fit: contain;
  box-shadow: 0 5px 10px #A2AAAD !important;
  border: 2px solid #2CD5C4 !important;
  border-radius: 1em; }

.button {
  padding: 1rem 1.5rem !important;
  font-size: 1rem !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: none !important;
  color: #fff !important;
  background-color: #2CD5C4 !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 9px #2CD5C4 !important; }

.button:hover {
  background-color: #A2AAAD !important; }

.button:active {
  background-color: #7CE0D3 !important;
  box-shadow: 0 5px #A2AAAD !important;
  transform: translateY(4px) !important; }

/*.container {
  overflow-y: auto !important;
  overflow-x: hidden; }*/
